.admin {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 8rem;
    text-align: center;
}

.adminRooms, 
.adminFeatures, 
.adminStars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    border: 2px solid #2446a6b3;
    border-radius: 10px;
    padding: 2rem;
}

.adminRooms h3, 
.adminFeatures h3, 
.adminStars h3 {

    width: 100%;
}

hr {
    display: none;
}