.bookingMain {
  background: url("../images/background.jpg") fixed/100% no-repeat;
}

.leftBox,
.roomBox,
.transferBox,
.featureCard {
  border-radius: 0.5rem;
  box-shadow: var(--buttonShadow);
  background-image: var(--buttonGradient);
  border-color: var(--buttonBorder);
  border-style: outset;
  border-width: 9px;
}

.bookingIntro {
  padding-top: 8rem;
  text-align: center;
}

.upperForm,
.lowerForm {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.leftBox,
.roomBox {
  flex: 1;
  min-height: 850px;
  padding: 4rem 1.5rem 1.5rem;
  margin-top: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.roomBox label,
#room {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.calendars {
  text-align: center;
  margin-top: 1.5rem;
}

#roomPreview {
  margin-top: 3rem;
}

#roomPreview img {
  width: 100%;
  max-width: 260px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 3rem;
}

#roomPreview p,
#roomName {
  margin: 1rem 4rem;
}

.roomImages {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
  justify-content: center;
}


.transferBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff94;
  min-height: 200px;
  min-width: 50%;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
}

.transferService {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--insetColor);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  gap: 2rem;
}

#getTransferCode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.finalizeButton {
  font-size: 2rem;
  font-family: var(--titleFont);
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 0 20rem;
}

.featuresIntro {
  text-align: center;
  margin: 0 auto;
}

.featureCard {
  background-color: #ffffffcc;
  border-radius: 1rem;
  padding: 1.5rem;
}

.featureCard h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.featureCard label {
  display: block;
  margin-bottom: 0.5rem;
}
