.login {
  margin: 7rem 15rem 5rem;
  text-align: center;
  background-color: antiquewhite;
  padding: 5rem;
  border-radius: 1rem;
}

.loginError {
  color: red;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
