/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --titleFont: "Bubblegum Sans", sans-serif;
    --bodyFont: "Open Sans", sans-serif;

    --h1Size: 80px;
    --h2Size: 60px;
    --h3Size: 40px;
    --h4Size: 20px;

    /* colors */
    --fontColor: #3a2228;
    --titleColor: #ffb76a;
    --insetColor: #cb9157;
    --hoverLink: #5a4936;
    --inputBorder: #b8794f;
    --inputBG: #ffebd5;
    --buttonShadow: inset 2px 2px 0 0 #ad6437;
    --buttonGradient: linear-gradient(#ffcb7b, #eba867);
    --buttonBorder: #cc6900;

    font-family: var(--bodyFont);
}

body {
  color: var(--fontColor);
}

h1, h2, h3 {
  font-family: var(--titleFont);
}

h1 {
  font-size: var(--h1Size);
  margin-bottom: 1rem;
  color: var(--titleColor);
}

h2 {
  font-size: var(--h2Size);
}

h3 {
  font-size: var(--h3Size);
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--h4Size);
}

a {
  text-decoration: none;
  font-family: var(--titleFont);
  color: var(--fontColor);
}
a:visited {
  color: var(--fontColor);
}
a:hover {
  color: var(--hoverLink);
}

button,
.bookingButton {
  border-radius: 0.5rem;
  box-shadow: var(--buttonShadow);
  background-image: var(--buttonGradient);
  border-color: var(--buttonBorder);
  border-style: outset;
  border-width: 6px;
  padding: 1rem;
}
button:hover {
  scale: 1.1;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  max-width: 360px;
  padding: 0.5rem 0.6rem;
  border: 2px solid var(--inputBorder);
  border-radius: 6px;
  background-color: var(--inputBG);
  font-family: var(--bodyFont);
}
